<template>
		<div class="row">
			<div class="col-md-offset-7 col-md-5">
				<form action="" method="POST" class="form-inline"  >
					<div class="form-group">

						<input type="text"
								class="form-control"
								placeholder="Task Name"
								ref="task_name"
								v-model="task"
						 />
					</div>
					<div class="form-group">

						<select name="ds" id="inputDs"
								class="form-control"
								required="required"
								ref="task_level"
								v-model="level"
						>
							<option value="Small" >Small</option>
							<option value="Medium">Medium</option>
							<option value="High">High</option>
						</select>
					</div>

					<button type="button" class="btn btn-primary"
							@click="addTask"
					>Submit</button>
					<button type="button" class="btn btn-default"
							@click="cancelTask"
					>Cancel</button>
				</form>
			</div>
		</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
	name: 'AddItem',
	data() {
		return {
			id : 0,
			task : '',
			level : 'Small',
			isChecked : false
		}
	},
	methods: {
		...mapActions(['addTodo']),

		addTask (event) {
			event.preventDefault()
			this.addTodo({
				id : this.id +=1,
				task : this.task,
				level : this.level,
				isChecked : false
		})
		this.task = '',
		this.level = 'Small'
		},
		cancelTask () {
			this.task = '',
			this.level = 'Small'
		}
	},
	computed: {

	}
}
</script>

<style>

</style>