<template>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<button type="button"
				class="btn btn-info btn-block"
				@click="TOGGLE_SHOW"
		>Add Task</button>
	</div>
</template>

<script>
import { mapMutations } from 'vuex'
	export default {
		name: 'AddTask',
		data () {
			return {

			}
		},
		methods: mapMutations(['TOGGLE_SHOW']),
		components: {

		}
	}
</script>

<style>

</style>