<template>
	<div class="panel panel-success" >
		<div class="panel-heading">List Task</div>
		<table class="table table-hover ">
			<thead>
				<tr>
					<th style="width: 5%">Complete</th>
					<th style="width: 5%" class="text-center">ID</th>
					<th>Task</th>
					<th style="width: 20%" class="text-center">Level</th>
					<th style="width: 20%">Action</th>
				</tr>
			</thead>
			<Tasks/>
				   <!-- v-for="(task, index) in listTodos"
						v-bind:key="index"
						v-bind:task="task"
						v-on:deleteTask= "deleteTask"
						v-on:editTask = "editTask" -->
		</table>
	</div>
</template>

<script>
import Tasks from './Tasks.vue'
	export default {
		name: 'ListTask',
		props: {
			listTodos: {
				type: Array
			},
			id: Number,
			task: String,
			level: String
		},
		data () {
			return {

			}
		},
		methods: {
			deleteTask (data) {
				this.$emit('deleteEvent', data)
			},
			editTask (data) {
				this.$emit('editEvent', data)
			}
		},
		components: {
			Tasks
		}
	}
</script>

<style>

</style>