<template>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" id="dropdownMenu1"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
					@click="showSort"
			>
				Sort by
			</button>
			<ul class="dropdown-menu" v-bind:class="{ show: show }" aria-labelledby="dropdownMenu1">
				<li><a role="button">Name ASC</a></li>
				<li><a role="button">Name DESC</a></li>
				<li role="separator" class="divider"></li>
				<li><a role="button">Level ASC</a></li>
				<li><a role="button">Level DESC</a></li>
			</ul>
			<span class="label label-success label-medium">NAME - DESC</span>
		</div>
		</div>
</template>

<script>
	export default {
		name: 'Sort',
		data () {
			return {
				show: false
			}
		},
		methods: {
	  	// showSort () {
		// 	this.$emit("showSort")
	  	// },
		  showSort () {
		  this.show = !this.show
	  	}
		},
		components: {

		}
	}
</script>

<style>
	.dropdown .dropdown-menu.show{
		display: block;
	}
</style>