<template>
	<tbody>
		<tr v-for="todo in listTodos" :key="todo.id">
			<td><input type="checkbox" :checked="todo.isChecked"/></td>
			<td class="text-center">{{ todo.id }}</td>
			<td>{{ todo.task }}</td>
			<td class="text-center"><span class="label label-danger">{{ todo.level }}</span></td>
			<td>
				<button type="button" class="btn btn-warning"
						>Edit</button>
				<button type="button" class="btn btn-danger"
						@click="deleteTodo(todo.id)"
				>Delete</button>
			</td>
		</tr>
	</tbody>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'Tasks',
	computed: {
		...mapState(['listTodos']),

	},
	methods: {
		// deleteTodo(todoId) {
		// 	this.$store.dispatch('deleteTodo', todoId)
		// },
		...mapActions(['deleteTodo'])
	}
}
</script>

<style>

</style>