<template>
  <div class="container">
		<div class="page-header">
		  <h1>Project 01 - ToDo List <small>Nodejs</small></h1>
		</div>
		<div class="row">
			<Search />
			<Sort
			/>
			<AddTask />
		</div>

		<AddItem v-bind:class="{hide: this.$store.state.isShow}"/>
		<!--
				v-bind:listTodos = "listTodos"
				v-on:addTask = "addEvent"
				v-on:cancelTask = "cancelTask" -->
		<ListTask />
		<!-- v-bind:listTodos = "listTodos"
				  v-bind:id = "id"
				  v-bind:task = "task"
				  v-bind:level = "level"
				  v-on:deleteEvent = "delTask"
				  v-on:editEvent = "editTask" -->

	</div>
</template>

<script>
import Search from './Search.vue'
import Sort from './Sort.vue'
import AddTask from './AddTask.vue'
import ListTask from './ListTask.vue'
import AddItem from './AddItem.vue'
import { mapGetters, mapMutations } from 'vuex'
export default {
  name: 'TodoList',
  components: {
	  Search,
	  Sort,
	  AddTask,
	  ListTask,
	  AddItem
  },
  methods: {
	  addEvent (data) {
		  if (data.task.trim().length === 0) {
			  alert('Nhập cái gì đi bro!!!')
		  } else {
		  this.listTodos.push(
			{
			  id: data.id += 1,
			  task: data.task,
			  level: data.level
			}
		  )
		  data.task = '',
		  data.level = 'Small'
	 	}

	  },
	  delTask (e) {
		  let index = -1
		  this.listTodos.forEach((u, i) => {
			  if (u.id === e) {
				  index = e
			  }
		  })

		  if (confirm('Chắc không bro???')) {
			  this.listTodos.splice(index, 1)
		  }
	  },
	  editTask (e) {
		  this.listTodos.forEach((u, i) => {
			  if (u.id === e.id) {
				  e.id = u.id
				  e.task = u.task
				  e.level = u.level
			}
			}
		  )
		},
	  cancelTask (e) {
		  e.task = ''
		  e.level = 'Small'
	  }

  },
  computed: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
	.col-md-offset-7.col-md-5.hide{
		display: none;
	}

</style>
