<template>
	<div class="row">
		<Search />
		<Sort />
		<AddTask />
	</div>
</template>

<script>
import Search from './Search.vue'
import Sort from './Sort.vue'
import AddTask from './AddTask.vue'
	export default {
		name: 'ToolBars',
		data () {
			return {

			}
		},
		methods: {

		},
		components: {
			Search,
			Sort,
			AddTask
		}
	}
</script>

<style>
</style>