<template>
  	<div>
		<Spinner />
	</div>
</template>

<script>
import Spinner from './Spinner.vue'
export default {
  components: { Spinner },
  name: 'HelloWorld',
  data () {
    return {
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
