<template>
	<div class="picker-wheel">
   		<div class="wheel-wrapper">
			<div
			class="wheel-pointer"
			@click="onClickRotate"
			>
			Start
			</div>
			<div
			class="wheel-bg"
			:class="{freeze: freeze}"
			:style="`transform: rotate(${wheelDeg}deg)`"
			>
			<div class="prize-list">
				<div
				class="prize-item-wrapper"
				v-for="(item,index) in prizeList"
				:key="index"
				>
				<div
					class="prize-item"
					:style="`transform: rotate(${(360/ prizeList.length) * index}deg)`"
				>
					<div class="prize-name">
					{{ item.name }}
					</div>
					<div class="prize-icon">
					<img :src="item.icon">
					</div>
				</div>
				</div>
			</div>
			</div>
  		</div>
		<div class="data">
			<div class="container">
				<div class="page-header">
					<input
						placeholder="Title here"
					/>
				</div>
				<div class="row">
					<form class="form-inline">
						<div class="form-group">
						<input
							type="text"
							class="form-control"
							placeholder="Task Name"
							ref="task_name"
							v-model="task"
						/>
						</div>
						<button type="button"
								class="btn btn-primary"
								@click="ADD_BUTTON"
						>
						Submit
						</button>
					</form>
				</div>
				<div class="panel panel-success">
					<table class="table-hover">
						<tbody>
							<tr class="tb-row" v-for="(task, index) in listTask" v-bind:key="task.id">
								<!-- <td style="width: 10%" class="text-center-id"></td> -->
								<td style="width: 55%" class="text-center-task">
									<label>{{ task.task }}</label>
								</td>
								<td style="width: 45%" class="text-center-action">
									<input
										type="checkbox"
										class="btn btn-warning"
										@click="DONE_BUTTON(index)"
									/>
									<button
										type="button"
										class="btn btn-danger"
										@click="DEL_BUTTON(index)"
									>
									Delete
									</button>
								</td>
							</tr>
							<br />
						</tbody>
					</table>
				</div>
			</div>
			<div style="height: 50px;"></div>
			<div class="history">
				<div class="title-history">
					<h1>HISTORY</h1>
				</div>
				<div class="row">
					<form class="form-history">
						<tbody>
							<tr v-for="(task,index) in listHistory" v-bind:key="index">
								<!-- <td style="width: 50px" class="text-center-id"></td> -->
								<td style="width: 90%" class="text-center-task">
									{{ task }}
								</td>
								<td style="width: 10%" class="text-center-action">

								</td>
							</tr>
						</tbody>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Spinner',
		data() {
			return {
				freeze: false,
				rolling: false,
				wheelDeg: 0,
				prizeNumber: 30,
				task:'',
				id: 0,
				listTask: [],
				prizeListOrigin: [],
				listHistory: [],
				count: 0
			}
		},
		computed: {
			prizeList() {
				return this.prizeListOrigin.slice(0, this.prizeNumber);

			}
		},
		methods: {
			onClickRotate() {
				if (this.rolling) {
					return;
				}
				const result = Math.floor(Math.random() * this.prizeList.length);
				this.roll(result);
			},
			roll(result) {
				this.rolling = true;
				const { wheelDeg, prizeList } = this;
				this.wheelDeg =
					wheelDeg - wheelDeg % 360 + 6 * 360 + ( 360 - 360 / prizeList.length * result);
				setTimeout(() => {
					this.rolling = false;
					alert("Result：" + prizeList[result].name);
					this.listHistory.push(prizeList[result].name)
				}, 4500);
			},

			randomColor: function () {
				const color = Math.floor(Math.random() * this.colors.length);
				this.selectedColor = this.colors[color];
			},
			ADD_BUTTON() {
				if (this.task.trim().length === 0) {
					alert("Nhập cái gì đi bạn trẻ!!!");
				} else {
					this.listTask.unshift({
					id: this.id += 1,
					task: this.task,
					});
					this.prizeListOrigin.push({
						name: this.task
					});
					this.task = ''
				}
			},
			DEL_BUTTON(index) {
				if (confirm("Chắc chắn chưa bro???")) {
					this.listTask.splice(index, 1);
					this.prizeListOrigin.splice(index, 1)
				}
			},
			DONE_BUTTON(e) {
				this.prizeListOrigin.splice(e, 1);
			}
			},
			watch: {
			prizeNumber() {
				this.freeze = true;
				this.wheelDeg = 0;

				setTimeout(() => {
					this.freeze = false;
				}, 0);
			}
		}
	}
</script>

<style>
.wheel-wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 400px;
  left: 400px;
  transform: translate(-50%, -50%);
}

.wheel-pointer {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 60px;
  z-index: 10;
  cursor: pointer;
}
.wheel-pointer::after {
    content: "";
    position: absolute;
    top: -32px;
    left: 50%;
    border-width: 10px 10px 24px;
    border-style: solid;
    border-color: transparent transparent #fff;
    transform: translateX(-50%);
}

.wheel-bg {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  overflow: hidden;
  transition: transform 4s ease-in-out;
  background: green;
}
.wheel-bg.freeze {
    transition: none;
    background: red;
}


.prize-list {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.prize-item-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
}

.prize-item {
  width: 100%;
  height: 100%;
  transform-origin: bottom;
}
.prize-name {
	padding: 16px 0;
	color: white;
  }

</style>