<template>
		<div class="row">
			<div class="col-md-offset-7 col-md-5">
				<form action="" method="POST" class="form-inline"  >
					<div class="form-group">
						<label class="sr-only" for="">label</label>
						<input type="text"
								class="form-control"
								placeholder="Task Name"
								ref="task_name"
								v-model="tasks.task"
						 />
					</div>
					<div class="form-group">
						<label class="sr-only" for="">label</label>
						<select name="ds" id="inputDs"
								class="form-control"
								required="required"
								ref="task_level"
								v-model="tasks.level"
						>
							<option value="Small" >Small</option>
							<option value="Medium">Medium</option>
							<option value="High">High</option>
						</select>
					</div>

					<button type="button" class="btn btn-primary"
							@click="addTask"
					>Submit</button>
					<button type="button" class="btn btn-default"
							@click="cancelTask"
					>Cancel</button>
				</form>
			</div>
		</div>
</template>

<script>
export default {
	name: 'AddItem',
	props: {
	},
	data () {
		return {
			tasks: {
				id: 1,
				task: '',
				level: 'Small'
			}
		}
	},
	components: {

	},
	methods: {
		addTask () {
			this.$emit('addTask', this.tasks)
		},
		cancelTask () {
			this.$emit('cancelTask', this.tasks)
		}
	},
	computed: {

	}
}
</script>

<style>

</style>