<template>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<button type="button"
				class="btn btn-info btn-block"
				@click="showAddTask"
		>Add Task</button>
	</div>
</template>

<script>
	export default {
		name: 'AddTask',
		data () {
			return {

			}
		},
		methods: {
		showAddTask () {
		  this.$emit("showTask")
	  	}
		},
		components: {

		}
	}
</script>

<style>

</style>