<template>
		<tr>
			<td class="text-center">{{ task.id }}</td>
			<td>{{ task.task }}</td>
			<td class="text-center"><span class="label label-danger">{{ task.level }}</span></td>
			<td>
				<button type="button" class="btn btn-warning">Edit</button>
				<button type="button" class="btn btn-danger"
					@click="deleteTask"
				>Delete</button>
			</td>
		</tr>
</template>

<script>
export default {
	name: 'Tasks',
	props: {
			task: {
				type: Object,
				default: []
			}
	},
	data () {
		return {

		}
	},
	methods: {
		deleteTask () {
			var data = {
				id: this.task.id
			}
			this.$emit("deleteTask", data)
		}
	}
}
</script>

<style>

</style>