<template>
  <div class="container">
		<div class="page-header">
		  <h1>Project 01 - ToDo List <small>Nodejs</small></h1>
		</div>
		<div class="row">
			<Search />
			<Sort
			/>
			<AddTask v-on:showTask="showAddTask"/>
		</div>

		<AddItem v-bind:class="{hide: isShow}"
				v-bind:listTodos = "listTodos"
				v-on:addTask = "addEvent"
				v-on:cancelTask = "cancelTask"

		/>

		<ListTask v-bind:listTodos = "listTodos"
				  v-on:deleteEvent = "delTask"
		/>

	</div>
</template>

<script>
import Search from './Search.vue'
import Sort from './Sort.vue'
import AddTask from './AddTask.vue'
import ListTask from './ListTask.vue'
import AddItem from './AddItem.vue'
export default {
  name: 'TodoList',
  data () {
    return {
		isShow: true,
		show: false,
		listTodos: [
		{
			id: 1,
			task: 'đi chơi',
			level: 'Small'
		}
		],
    }
  },
  components: {
	  Search,
	  Sort,
	  AddTask,
	  ListTask,
	  AddItem
  },
  methods: {
	  showAddTask () {
		  this.isShow = !this.isShow
	  },

	  addEvent (userTask) {
		   console.log('add task')
		  if (userTask.task.trim().length === 0) {
			  alert('Nhập cái gì đi bro!!!')
		  } else {
		  this.listTodos.push(
			{
			  id: userTask.id += 1,
			  task: userTask.task,
			  level: userTask.level
			}
		  )
	 	}
		 userTask.task = ''
		 userTask.level = 'Small'

	  },
	  delTask (e) {
		  let index = -1
		  this.listTodos.forEach((u, i) => {
			  if (u.id === e) {
				  index = e
			  }
		  })

		  if (confirm('Chắc không bro???')) {
			  this.listTodos.splice(index, 1)
		  }
	  },
	  editTask (e) {
		  this.listTodos.forEach((u, i) => {
			  if (u.id === e.id) {
				  u.id = e.id
				  u.task = e.task
				  u.level = e.level

			console.log('id: ', e.id)
		  	console.log('task: ', e.task)
		  	console.log('level: ', e.level)
			}
			}
		  )
		},
	  cancelTask (e) {
		  e.task = ''
		  e.level = 'Small'
	  }

  },
  computed: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
	.col-md-offset-7.col-md-5.hide{
		display: none;
	}

</style>
