.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

div.row {
	margin-top: 20px;
	margin-right: 0px;
}
.row {
	width: 400px;
}

span.label-medium {
	padding: 8px 10px;
    margin: 0px 8px;
    font-size: 16px;
}
.text-center {
	background-color: bisque;
}
tr {
	padding-bottom: 5px;
}
td
{
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.text-center-id {
	max-width: 50px;
}
.text-center-task {

	max-width: 400px;
}
.text-center-action {
	max-width: 400px;
	padding-left: 36px
}
.text-center-action input{
	width: 40px;
	height: 38px;
}
.tb-row{
	margin-top: 10px;
}
.text-center-id{
	text-align: center;
}
.panel.panel-success{
	width: 400px;
	height: 250px;
	overflow-y: scroll;
}
.table-hover{
	width: 400px;
}
.form-inline{
	width: 400px;
	display: flex;
	justify-content: space-between;
}
.page-header{
	/* width: 400px !important; */
}
.page-header input{
	border-left: none;
	border-right: none;
	text-align: center;
	width: 375px;
	line-height: 40px;
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
}
.form-group{
	width: 295px;
}
.btn .btn-primary{
	width: 90px;
}

.container {
	margin-right: 200px;
}
.picker-wheel {
	width: 400px;
	height: 500px;
	margin: 0px auto;
	display: flex;
}
.title-history h1{
	text-align: center;
}
.history{
	width: 400px;
}
.form-histoy{
	width: 400px;
	height: 350px;
	overflow-y: scroll;
}